.modalBg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    z-index: 10000;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* center the modal but keep modal and closeModal aligned horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    display: flex;
    /* make contents scrollable when modal is too long */
}

/* tablet and mobile - modal layed out vertically instead */
@media (max-width: 850px) {
    /* includes modal and close button */
    .modalContainer {
        flex-direction: column;
        /* pointer-events: none; */
    }
    .closeModal {
        order: -1;
        align-self: flex-end;
        margin-bottom: 0.5rem;
    }
    .modal {
        flex-direction: column;
    }
    .unitPic {
        width: 325px;
        height: auto;
    }
}

/* very small screen (iphone se) */
@media (max-height: 750px) and (max-width: 850px) {
    .unitPic {
        width: 260px;
        height: auto;
    }
}

.modal {
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding: 1.5rem;
    gap: 1rem;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
}

.modalRow {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--ltgreyBg); */
}
.modalRow2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--ltgreyBg); */
}

.unitInfo {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    justify-content: space-between;
}

.unitHeader > h1 {
    /* color: var(--khaki); */
    /* margin-bottom: 1.5rem; */
    letter-spacing: 1px;
    font-size: 1.9rem;
}

.unitInfo > h2 {
    font-size: 1.3rem;
    margin: 0.3rem 0;
    /* letter-spacing: 1px; */
}

.unitPic {
    border: 1px solid black;
    border-radius: 5px;
}

.specialAmenetie {
    border: 1px solid var(--ltgreyBorder);
    /* padding: 0.5rem; */
    display: flex;
}

.iconBg {
    background-color: var(--ltgreyBg);
    /* background-color: red; */
    /* height: 100%; */
    /* width: 20px; */
    padding: 0.4rem;
    /* border-radius: 50%; */
}

.specialAmenetie > p {
    padding: 0.4rem;
}

.icons {
    margin-right: 5px;
}

.pointIcon {
    margin-right: 0.5rem;
}

.closeModal {
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
    width: 30px;
    height: 30px;
}

.closeModal:hover {
    background-color: var(--khaki);
    transition: background-color 0.3s;
}

.closeIcon {
    height: 70%;
    width: 70%;
}

.contactusButton {
    /* background-color: #007bff; */
    background-color: var(--darkgreen);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 0.85rem;
    margin-top: 0.3rem;
}

.contactusButton:hover {
    background-color: var(--khaki);
    color: black;
    transition: background-color 0.3s;
}

.unitHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
