.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.links {
    display: flex;
    gap: 1rem;
}

.avaLogo {
    width: 40px;
    height: 29px;
}

.link {
    /* font-weight: 400; */
    font-size: 0.85rem;
    opacity: 0.8;
}

.link:hover {
    color: var(--gold);
    transition: color 0.3s;
}
