.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow-x: visible;
    /* overflow-x: hidden; */

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    /* max-width: 100%; */
    /* assures navbar is always 70px across all devices/browsers (hero pic on home page depends on this value) */
    height: 70px;
    /* overflow-y: hidden; */
}

.avaLogo {
    /* width: 40px; */
    /* height: 29px; */
    width: 30px;
    height: auto; /* 50x37 */
}

.avaLogo:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.activeLink {
    /* color: var(--gold); */
    color: var(--khaki);
    /* opacity: 0.5; */
    /* font-weight: bold; */
}

.link:hover,
.floorplansBtn:hover {
    /* color: var(--gold); */
    color: var(--khaki);
    /* text-decoration: underline; */
    transition: color 0.3s;
}

.link,
.activeLink,
.floorplansBtn {
    /* font-weight: 400; */
    font-size: 0.85rem;
    /* opacity: 0.8; */
    letter-spacing: 0.9px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.floorplansContainer {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 0.5rem; */
    z-index: 10000;
    /* overflow-y: visible; */
    /* position: relative; */
    /* height: 100px; */
}
.floorplansBtn {
    border: none;
    background: none;
    cursor: pointer;
}

.floorplansDropdown {
    display: flex;
    flex-direction: column;
    z-index: 100000;
    gap: 1rem;
    position: absolute;
    padding: 1rem;
    margin-top: 0.5rem;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
}

/* Mobile view */
@media (max-width: 650px) {
    .navbar {
        box-shadow: none;
    }

    .hamburgerIcon {
        cursor: pointer;
    }

    .links {
        display: none;
    }

    .mobileLink,
    .mobileActiveLink,
    .applyNowLink {
        font-size: 1rem;
        letter-spacing: 0.9px;
    }

    .applyNowLink {
        /* background: var(--gold); */
        /* // input rgba value for gold */
        /* background: rgba(255, 215, 0, 0.6); */
        padding: 0.5rem 1rem;
        /* width: 100%; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 5px;
        border: 1px solid black;
        /* font-weight: 500; */
        /* font-size: 0.8rem; */
        /* cursor: pointer; */
        /* border: 1px solid black; */
    }

    .mobileActiveLink {
        /* color: var(--gold); */
        color: var(--khaki);
        /* font-weight: bold; */
    }
    .mobileLink:hover {
        color: var(--khaki);
        transition: color 0.3s;
    }

    .mobileMenu {
        position: fixed;
        top: 70px;
        /* right: 0; */
        width: 100%;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        z-index: 1000;
    }
    .mobileLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        /* margin at top and bottom */
        margin: 1rem 0;
    }
}

/* Desktop/tablet view */
@media (min-width: 651px) {
    .links {
        display: flex;
        gap: 1rem;
    }
    .hamburger {
        display: none;
    }
    .mobileMenu {
        display: none;
    }
    .mobileLinks {
        display: none;
    }
}
