/* no longer used */
.main {
    background-color: white;
}

.bannerSection {
    position: relative;
}

.banner {
    width: 100%;
    height: auto;
}

.pageContent {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.tour {
    margin: auto;
}
@media (min-width: 900px) {
    .tour {
        max-width: 853px;
    }
}
.tour > h1 {
    margin-bottom: 0.5rem;
}
