.main {
    background-color: var(--altWhite);
}
.amenitiesPic {
    width: 100%;
    height: auto;
}

.pageContent {
    padding: 3rem;
    /* background-color: var(--altWhite); */
}

.contentContainer {
    margin-bottom: 1.8rem;
    /* display: flex; */
    /* justify-content: center; */
}
.amenitiesContainer {
    display: grid;
    /* // make 2 columns with equal width */
    grid-template-columns: repeat(2, 1fr);
}

.separatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.8rem;
}
.separator {
    margin: 1.5rem 0;
    /* margin-bottom: 1.8rem; */
}

.listItem {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.contentHeading {
    display: flex;
    align-items: center;
}

.pageContent > .contentContainer:last-child {
    margin-top: 3rem;
}
