.pageContent {
    margin: 3rem;
}

.bannerSection {
    position: relative;
}

.floorplansPic {
    width: 100%;
    height: auto;
}

.floorplansContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* align-items: center; */
    /* margin-top: 20px; */
}

.headerText {
    margin-bottom: 20px;
}

.tabButtons {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

.activeTab,
.inactiveTab {
    /* background-color: var(--altWhite); */
    border: none;
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.activeTab {
    background-color: var(--khaki);
    transition: all 0.5s ease-in-out;
    color: black;
}
.inactiveTab {
    background-color: var(--altWhite);
    color: var(--khaki);
    /* transition: all 0.2s ease-in-out; */
}

.unitCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    padding: 15px;
    border: 1.5px solid var(--ltgreyBorder);
    gap: 10px;
    border-radius: 10px;
    /* width: 300px; */
    /* height: 300px; */
}

.unitCard > h2 {
    /* align-self: flex-start; */
    /* color: var(--darkgreen); */
    font-size: 1.7rem;
    color: var(--khaki);
}

.unitPic {
    width: 250px;
    height: auto;
    cursor: pointer;
}

.unitPic:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}

.unitInfo {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    width: 100%;
    /* margin: 10px; */
    /* padding: 10px; */

    /* border: 1px solid black; */
    /* border-radius: 10px; */
    /* width: 300px; */
    /* height: 300px; */
}

.cardRow {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
}

.priceRow {
    display: flex;
    justify-content: center;
    background-color: var(--ltgreyBg);
    width: 100%;
    padding: 10px;
    border: 1.5px solid var(--ltgreyBorder);
    font-weight: bold;
    /* border-color: black; */
}
.price {
    font-size: 1.2rem;
}

.contactusButton {
    /* background-color: #007bff; */
    background-color: var(--darkgreen);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 0.85rem;
}

.contactusButton:hover {
    background-color: var(--khaki);
    color: black;
    transition: background-color 0.3s;
}

.icons {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

/* mapping table */
.table {
    background-color: var(--altWhite);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.headerRow {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--ltgreyBorder);
}

.headerRow > p {
    /* font-size: 1rem; */
    font-weight: 600;
}

.tableRow,
.headerRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.tableRow {
    padding: 0.3rem;
}
