.headingPicture {
    width: 100vw;
    object-fit: cover;
}

.pageContent {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    gap: 2rem;
    /* padding: 2rem; */
    margin: 3rem;
}

.intro > h1 {
    font-size: 2rem;
    /* font-weight: 700; */
    margin-bottom: 1rem;
}
