:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    /* Color Palette of Website */
    --gold: #bf9a6fff;
    --gold2: #c39f75;
    --darkgreen: #3e473fff;
    --lightgreen: #656a60ff;
    --khaki: #c2b5a7ff;
    --white: #ffffffff;
    --ltgreyBg: #f8f9fa;
    --ltgreyBorder: #dee2e6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    scroll-behavior: smooth;
    font-size: 16px;
    /* overflow-x: hidden; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
video {
    max-width: 100%;
    /* height: auto; */
}
