.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 6rem; */
    min-height: 100vh;
    /* width: 100vw; */ /* this causes horizontal scroll */
}
.heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

@media (min-width: 651px) {
    .heroSection {
        /* want background to fill the width of viewport by stretching */
        background-image: url('/heroBG.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        background-attachment: fixed;

        /* height = 100% of viewport height - 70px (height of navbar) */
        height: calc(100vh - 70px);

        /* height: 730px; */
    }
}

@media (max-width: 650px) {
    .heroSection {
        background-image: url('/images/buildingRender4.jpg');
        width: 100%;
        background-position: contain;
        /* background-position-y: 1%; */
        background-size: cover;
        background-repeat: no-repeat;
        /* height: auto; */
        /* background-size: auto; */
        /* background-position: center; */
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
        height: calc(100vh - 70px);
    }
}

/* .pageContent > section {
    padding: 4rem;
} */

@media (min-width: 651px) {
    .pageContent > section {
        padding: 4rem;
    }
    .bigLogo {
        filter: drop-shadow(0 0 0.4rem #ffffff70);
        width: 500px;
        height: 300px;
    }
}

@media (max-width: 650px) {
    .pageContent > section {
        padding: 2rem;
    }
    .bigLogo {
        filter: drop-shadow(0 0 0.4rem #ffffff70);
        width: 325px;
        height: 184px;
        /* height: 150px; */
    }
}

.introSection {
    background-color: var(--darkgreen);
    /* height: 500px; */
}
.introText {
    /* color: var(--gold); */
    /* color: white; */
    color: var(--altWhite);
    font-weight: 400;
    line-height: 30px;
    /* opacity: 0.7; */
}

.introImages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;
}

.introImages > * {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.secSection {
    /* background-color: var(--darkgreen); */
    /* height: 500px; */
    background-color: #f1eee7;
    display: flex;
    flex-direction: column;
}

.secContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    /* gap: 100px; */
}
.secInfo {
    /* max-width: 400px; */
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 30px;
    /* height: 500px; */
    /* margin-right: 10px; */
    /* border: 1px solid blue; */
}
.amenitiesCards {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    gap: 15px;
    width: 300px;
    /* justify-content: center; */
}

.amenitiesCard,
.amenitiesCard2 {
    width: 200px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
.amenitiesCard {
    background-color: var(--darkgreen);
}
.amenitiesCard2 {
    background-color: var(--altWhite);
}

.amenitiesCard:hover,
.amenitiesCard2:hover {
    /* box-shadow: 0 0 80px rgba(0, 0, 0, 0.5); */
    transition: box-shadow 0.3s, transform 0.5s;
}
.amenitiesCard:hover {
    transform: translateX(40px);
}

.amenitiesCard2:hover {
    transform: translateX(-40px);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.amenitiesCardH3 {
    background: linear-gradient(135deg, #d2b69f 0, #a47947 100%);
    background: -webkit-linear-gradient(45deg, #d2b69f 0, #a47947 100%);
    background: -moz-linear-gradient(45deg, #d2b69f 0, #a47947 100%);
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    color: #c39f75;

    font-weight: 600;
}

/* .amenitiesCardH3v2 {
    background: linear-gradient(135deg, #a47947 0, #3e473fff 100%);
    background: -webkit-linear-gradient(45deg, #a47947 0, #3e473fff 100%);
    background: -moz-linear-gradient(45deg, #a47947 0, #3e473fff 100%);
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    color: #3e473fff;

    font-weight: 500;
} */

.cardText {
    font-size: 0.8rem;
    line-height: 1.1rem;
    font-weight: 400;
}

.thirdSection {
    background-image: url('/images/pub3.jpg');
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position-y: 80%; */
    /* background-position-y: bottom; */
    background-position-x: 75%;

    /* gives heroBG a simple parallax effect */
    background-attachment: fixed;

    /* testing */
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: flex-end;
    /* align-items: center; */
}

.thirdContainer {
    background: rgba(62, 71, 63, 0.8);
    /* background: rgba(0, 0, 0, 0.2); */
    backdrop-filter: blur(5px);
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */

    /* width: 400px; */
}
.thirdContainer > p {
    color: var(--altWhite);
}

.fourthSection {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    /* height: 300px; */
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #434343,
        #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #434343,
        #000000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*
    background: -webkit-linear-gradient(
        to bottom,
        #d2b69f,
        #a47947
    );
    background: linear-gradient(
        to right,
        #d2b69f,
        #a47947
    ); 
    */
    color: white;
    /* gap: 20px; */
}

.fourthContainer,
.thirdContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    gap: 20px;
    padding: 20px;
    /* text-transform: uppercase; */
}
.fourthContainer > h2,
.thirdContainer > h2 {
    background: linear-gradient(135deg, #d2b69f 0, #a47947 100%);
    background: -webkit-linear-gradient(45deg, #d2b69f 0, #a47947 100%);
    background: -moz-linear-gradient(45deg, #d2b69f 0, #a47947 100%);
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(0 0 0.5rem black);
}

.h2Text {
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    background: linear-gradient(135deg, #d2b69f 0, #a47947 100%);
    background: -webkit-linear-gradient(45deg, #d2b69f 0, #a47947 100%);
    background: -moz-linear-gradient(45deg, #d2b69f 0, #a47947 100%);
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    color: #c39f75;
    text-transform: uppercase;
    /* font-style: italic; */

    /*
    background-color: var(--gold);
    background-image: linear-gradient(35deg, var(--gold), white);
    /* background-image: linear-gradient(45deg, var(--gold), white); */
    /* background-image: linear-gradient(45deg, var(--gold), var(--khaki)); */
    /* background-image: linear-gradient(45deg, #f3ec78, #af4261); */
    /*
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    */

    /* add dark shadow */
    /* filter: drop-shadow(0 0 0.5rem black); */
}

.buttonStyle {
    /* background-color: #007bff; */
    background-color: var(--darkgreen);
    /* color: white; */
    color: var(--altWhite);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 0.85rem;

    /* font-size: 1rem; */
    font-weight: 600;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.buttonStyle:hover {
    background-color: var(--khaki);
    color: black;
    transition: background-color 0.3s;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.buttonStyle2 {
    /* background: linear-gradient(135deg, #d2b69f 0, #a47947 100%);
    background: -webkit-linear-gradient(45deg, #d2b69f 0, #a47947 100%);
    background: -moz-linear-gradient(45deg, #d2b69f 0, #a47947 100%);
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    color: #c39f75; */
    border: 1px solid grey;

    /* color: var(--darkgreen); */
    /* border: 1px solid var(--darkgreen); */
    /* color: var(--altWhite); */
    /* border: 1px solid var(--altWhite); */
    background-color: transparent;

    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 500;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.buttonStyle2 > p {
    background: linear-gradient(135deg, #d2b69f 0, #a47947 100%);
    background: -webkit-linear-gradient(45deg, #d2b69f 0, #a47947 100%);
    background: -moz-linear-gradient(45deg, #d2b69f 0, #a47947 100%);
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    color: #c39f75;
    filter: drop-shadow(0 0 0.3rem black);
}

.buttonStyle2:hover {
    background-color: var(--darkgreen);
    border: 1px solid var(--darkgreen);
    /* background-color: var(--altWhite); */
    /* color: black; */
    transition: all 0.3s;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.superTextContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 20px;
}
.superText {
    /* color: white; */
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.5rem;
    background: linear-gradient(135deg, #d2b69f 0, #a47947 100%);
    background: -webkit-linear-gradient(45deg, #d2b69f 0, #a47947 100%);
    background: -moz-linear-gradient(45deg, #d2b69f 0, #a47947 100%);
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    color: #c39f75;
    display: flex;
    align-items: center;
}
.superLine {
    width: 300px;
    height: 0.5px;
    background-color: white;
    /* border: 0.1px solid white; */
}
.superIcon {
    margin-right: 10px;
}
