.pageContent {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* background-color: var(--altWhite); */
    flex-wrap: wrap;
}

.contactInfoContainer {
    /* Margin for mobile view */
    margin-bottom: 2rem;
}

.contactusPic {
    width: 100%;
    height: auto;
}
.contactFormContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    /* background-color: #f9f9f9; */
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 5px;
    /* width: 500px; */
}

.addressText {
    text-decoration: underline;
}

.icons {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.horizontalLine {
    width: 100%;
    height: 1px;
    background-color: #d3d3d3;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reqFieldText {
    /* color: red; */
    font-size: 0.8rem;
    margin-bottom: 10px;
    opacity: 0.7;
}
